body {
    max-width: 500px;
    background-color: antiquewhite;
}
div {
    max-width: 500px;
    height: fit-content;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}
h1 {
    text-align: center;
    color: darkred;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
h2 {
    font-size: 20px;
}
p {
    text-align: justify;
}